body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Merriweather", "Times New Roman", serif;
}

header {
    position: relative;
}

.banner {
    width: 100%;
    display: block;
    filter: brightness(55%);
}

.banner--title {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

header h1,
header h2 {
    color: white;
}

header h1 {
    font-size: 48px;
}

header h2 {
    font-size: 36px;
}

header span {
    display: block;
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 24px;
    width: 160px;
    padding: 9px;
    border: solid 1px white;
}

header span a:link,
header span a:visited {
    color: white;
    text-decoration: none;
}

article {
    width: 1170px;
    margin: 0 auto;
}

#start {
    height: 0;
}

.highlights {
    padding: 20px 0 10px 0;
}

.highlights h2 {
    font-size: 18px;
    text-decoration: underline;
    margin: 10px 0 12px 0;
}

.highlights--container {
    float: left;
    width: 580px;
    margin-bottom: 20px;
}

.highlights--container:first-of-type {
    margin-right: 10px;
}

.highlights--media {
    float: left;
    margin-right: 10px;
}

.highlights--media img {
    display: block;
    width: 285px;
    height: 190px;
    object-fit: cover;
}

.highlights--text {
    overflow: hidden;
}

.highlights--text h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.highlights--text p {
    font-size: 10px;
    line-height: 1.35;
    margin-bottom: 6px;
}

.highlights--button {
    float: right;
    font-size: 10px;
    padding: 4px 8px;
    background: #f59e0b;
    color: #fff;
    text-decoration: none;
}

.highlights--button:visited {
    color: #fff;
}

.highlights::after {
    content: "";
    display: block;
    clear: both;
}

.mosaic {
    position: relative;
    width: 1170px;
    height: 990px;
    margin: 0 auto 30px auto;
}

.mosaic-item {
    position: absolute;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.mosaic--a { left: 0px;   top: 0px;   width: 580px; height: 390px; }
.mosaic--b { left: 590px; top: 0px;   width: 285px; height: 190px; }
.mosaic--c { left: 590px; top: 200px; width: 285px; height: 190px; }
.mosaic--d { left: 885px; top: 0px;   width: 285px; height: 390px; }

.mosaic--e { left: 0px;   top: 400px; width: 285px; height: 390px; }
.mosaic--f { left: 295px; top: 400px; width: 285px; height: 190px; }
.mosaic--g { left: 590px; top: 400px; width: 285px; height: 190px; }
.mosaic--i { left: 885px; top: 400px; width: 285px; height: 390px; }

.mosaic--h { left: 295px; top: 600px; width: 580px; height: 390px; }
.mosaic--j { left: 0px;   top: 800px; width: 285px; height: 190px; }
.mosaic--k { left: 885px; top: 800px; width: 285px; height: 190px; }